body{
    text-align: center;
    background-image: url(cricket\ field.jpg);
    background-size:100vw 100vh;
}
img{
    height:6vw;
}
h1{
    margin-top: 10vh;
    color: rgb(35, 1, 69);
    font-size: 3vw;
}
h3{
    color: rgb(244, 243, 246);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#score{
    color: rgb(0, 45, 16);
    font-family: 'Times New Roman', Times, serif;
}
#bat, #ball, #stump{
    width: 10vw;
    height:30vh;
    border:none;
    background-color: rgba(2, 163, 82, 0.696);
    cursor: pointer;
    margin:1vw;
}
#restart{
    font-weight: 800;
}
#bat:active, #ball:active, #stump:active, button:active{
    border:2px solid black;
}
@media screen and (max-width: 480px){
    button{
        width:25vw;
    }
    #bat, #ball, #stump{
        width: 20vw;
        height:10vh;
        margin:3vw;
    }
    img{
        height:10vw;
    }
    h1{
        font-size:9vw;
    }
    h3{
        font-size:6vw;
        line-height: 4vh;
    }
  }